
<span class="bg-yellow-200 text-blue-900 
            text-xs font-bold
            me-2 px-2.5 py-0.5
            rounded order-2 border-[#000000]
          dark:bg-gray-700 dark:text-green-400
          hover:bg-yellow-400
          shadow-sm shadow-black">
 <slot />
</span>